node_modules
.DS_Store
*.local
coverage
.eslintcache
pnpm-lock.yaml
*.log
env
build
vite.config.ts
tsconfig.json
package.json
package-lock.json
license
jest.config.js
SECURITY.md
.prettierrc.json
.prettierignore
.lintstagedrc.json
.eslintrc.json
.eslintignore
.editorconfig
.commitlintrc.json
.vscode
.github
